body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h2 {
    margin: 0;
}


.gridpage__header,
.gridpage__footer {
    max-width: 500px;
    height: 80px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.gridpage__header {
    padding: 0 10px;
}


.gridpage__grid {
    max-width: fit-content;
    margin: 0 auto;
}

.cell {
    width: 10px;
    height: 10px;
    border: solid 1px #f3f3f3;
    cursor: pointer;
}

.filled {
    background-color: pink;
}


/* BUTTONS */

button,
input[type="submit"],
input[type="reset"] {
    background: none;
    color: inherit;
    border: 1px solid black;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

button {
    border: 2px solid black;
    border-radius: 3px;
    padding: 0 10px;
    width: 220px;

}


button:focus {
    outline-offset: -4px;
}

button:active {
    transform: scale(0.99);
}

button {
    height: 2em;
    text-align: center;
    margin: 10px;
}

button.start {
    color: #28a745;
    border-color: #28a745;
}

button.stop {
    color: #343a40;
    border-color: #343a40;
}

button.reset {
    color: #dc3545;
    border-color: #dc3545;
}

button.random {
    color: #ffc107;
    border-color: #ffc107;
}

/* on-hover */
button:hover {
    color: #fff;
}

button.start:hover {
    background-color: #28a745;
}

button.stop:hover {
    background-color: #343a40;
}

button.reset:hover {
    background-color: #dc3545;
}

button.random:hover {
    background-color: #ffc107;
}